.wrap-layout {
  width: 100%;
  padding: var(--size-xxlarge) var(--size-small);
  margin: var(--size-xxlarge) 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap-layout h1,
p {
  color: var(--color-text);
}

.wrap-layout.contrast {
  background-color: var(--color-bg-alt);
}

.wrap-layout.contrast h1,
.wrap-layout.contrast p {
  color: var(--color-text-alt);
}

.wrap-layout.contrast h2 {
  color: var(--color-text-muted-alt);
}

@media (max-width: 450px) {
  .wrap-layout {
    padding: var(--size-large) var(--size-small);
    margin: var(--size-large) 0;
  }
}
