.login-page {
    width: 100%;
    min-height: 100dvh;

    background: linear-gradient(45deg, black 25%, transparent 25%),
        linear-gradient(-45deg, black 25%, transparent 25%);
    background-position: 0 10px;
}

.login-page-info {
    font-size: var(--size-small);
    font-weight: 400;
}

@media (max-width: 750px) {
    .login-page {
        background-position: 0 10px, 0 10px;
    }

    form.login-form {
        width: 75%;
        margin-bottom: 35%;
    }
}
