.accounts-page {
    width: 100%;
    min-height: 100dvh;
    padding: var(--size-xlarge);
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-account {
    width: 50%;
    margin-bottom: var(--size-xlarge);
}

@media (max-width: 1250px) {
    .accounts-page {
        min-height: auto;
    }
    .create-account {
        width: 100%;
    }
}
