.user-pannel-layout {
  width: 100%;
  margin: 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--size-default);

  border: none;
}

@media (max-width: 750px) {
  .user-pannel-layout {
    grid-template-columns: 1fr;
  }
}
