.player-card {
    width: 100%;
    padding: var(--size-default);

    background-color: var(--color-card);

    border: 1px solid var(--color-accent);
    border-radius: var(--border-radius-default);

    margin: var(--size-small) 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-name p {
    color: var(--color-text-muted-alt);
}

.player-ban-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.player-ban-info p:last-child {
    width: 35%;
    padding: var(--size-xsmall);
    border-radius: 999px;
    background-color: var(--color-bg-alt);
    color: var(--color-text-alt);
    text-align: center;
}

.player-commands {
    display: flex;
    gap: var(--size-xsmall);
    width: 10%;
}

.player-commands button {
    padding: var(--size-xxsmall);

    display: flex;
    justify-content: center;
    align-items: center;
}

.player-commands button img {
    width: calc(var(--image-small) / 4);
}

.remove-player-button {
    background-color: var(--color-danger);
    border: 1px solid var(--color-danger);
}

.remove-player-button:hover {
    background-color: var(--color-danger);
}

@media (max-width: 1000px) {
    .player-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}
