.user-pannel {
    width: 70%;
    margin: 0;
    padding: var(--size-default);

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    border: 1px solid var(--color-accent);
    border-radius: var(--border-radius-default);
    gap: 0;
}

.user-pannel div:first-child {
    width: 100%;
}

.user-pannel h1 {
    width: 100%;
    text-align: left;
}

.user-pannel hr {
    margin: var(--size-small) 0;
}

.user-pannel .input-container:nth-last-child(2) {
    grid-column: 1 / -1;
}

.user-pannel button {
    grid-column: 1 / -1;
    margin-top: auto;
}

@media (max-width: 1250px) {
    .user-pannel {
        width: 100%;
        flex-grow: 0;
        gap: var(--size-medium);
    }

    .user-pannel button {
        margin-top: 0;
    }
}

@media (max-width: 750px) {
    .user-pannel {
        width: 100%;
        flex-grow: 0;
        gap: var(--size-medium);
    }

    .user-pannel button {
        margin-top: 0;
    }
}
